body{ background-color:whitesmoke}
.header {color:white}
.header a {color:white}

li{
    margin: 10px 10px 10px 10px;
    margin-top: :10px;
    margin-right: :10px;
    margin-bottom: :10px;
    margin-left: :10px;
    padding: 20px;
    border: 1px solid black;
    width:  60px;
    height: 50px;
    box-sizing:border-box;

    display: inline;
    position: relative;
}
.slder-wrapper{
    width: :700px;
    height:700px;
    position: relative;
}

.slider-container{
    margin-top: 200px;
    margin-left:200px;
    width:600px;
    height:500px;
    background-color: aqua;

}

.slider-container{
    width:600px;
    height5600px;
    background-color: olive;

}